.main {
    padding: 10px;
    height: 100vh;
}

.layout {
    display: flex;
}

.sidebar {
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
    background-color: #59cb3c;
    box-shadow: 0 0 5px rgb(32, 32, 32);
    margin-right: 20px;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
}

.header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgb(32, 32, 32);
    background-color: bisque;
}

.body {
    height: 90vh;
    box-shadow: 0 0 5px rgb(32, 32, 32);
    background-color: bisque;
}

.logo h2 {
    font-size: 2rem;
    margin: 20px 0px;
    text-align: center;
}

.menu {
    margin-top: 20%;
}

.menu-item {
    margin-top: 10%;
}

.menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.menu-item a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    /* padding: 20px; */
    font-weight: bold;
}

.active {
    background-color: white;
    padding: 5px;
}

.active a,
.active i {
    color: black;
}

.header-content {
    margin: 0 15px;
    display: flex;
    align-items: center;
    height: 90%;
    justify-content: flex-end;
}

.header-content i {
    padding: 10px;
    font-size: 1.2rem;
}

.header-content a {
    color: red;
    font-size: 1.2rem;
    text-transform: uppercase;
}